In [1]:
import pandas as pd
import numpy as np

In [3]:
#shot data from 2019-2022
df = pd.read_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/player_shots.xlsx")

In [4]:
print(df)

     Year             Player  under_5_fgm  under_5_fga  between_5_9_fgm  \
0    2022        A'JA WILSON           64          106               30
1    2022      AARI MCDONALD           35           61                7
2    2022      AERIAL POWERS           30           55                8
3    2022     AISHA SHEPPARD            0            3                0
4    2022      ALAINA COATES            5            8                2
..    ...                ...          ...          ...              ...
614  2019      TIFFANY HAYES           74          151               11
615  2019   TIFFANY MITCHELL           56          109                5
616  2019       TINA CHARLES           80          155               47
617  2019  VICTORIA MACAULAY            2            3                0
618  2019      YVONNE TURNER           25           53                5

     between_5_9_fga  between_10_14_fgm  between_10_14_fga  between_15_19_fgm  \
0                 59                 17                 48                 17
1                 14                  2                  9                  5
2                 43                 17                 49                 19
3                  2                  0                  0                  1
4                  3                  0                  0                  0
..               ...                ...                ...                ...
614               37                 11                 27                 14
615               20                 12                 39                 13
616              127                 45                114                 29
617                1                  0                  0                  0
618               14                  1                  4                  2

     between_15_19_fga  between_20_24_fgm  between_20_24_fga  over_24_fgm  \
0                   36                 11                 31            7
1                   10                 21                 64            9
2                   55                 22                 57            5
3                    1                  3                 16            5
4                    0                  0                  0            0
..                 ...                ...                ...          ...
614                 34                 31                 97            6
615                 44                 18                 54            5
616                 86                 19                 80            0
617                  1                  0                  0            0
618                 13                 19                 66            7

     over_24_fga   ftm    fta
0             19  95.0  118.0
1             23  56.0   63.0
2             22  94.0  121.0
3             11   6.0    8.0
4              0  14.0   15.0
..           ...   ...    ...
614           24  26.4   35.2
615           19  20.0   22.4
616            3  26.4   32.0
617            0   3.2    3.2
618           22  12.0   13.6

[619 rows x 16 columns]

In [5]:
df_new = df.groupby(["Player"]).sum()

In [6]:
print(df_new)

                   Year  under_5_fgm  under_5_fga  between_5_9_fgm  \
Player
A'JA WILSON        8082          337          528              134
AALIYAH WILSON     2021            1            5                0
AARI MCDONALD      4043           51           92               10
AERIAL POWERS      8082           98          157               31
AISHA SHEPPARD     2022            0            3                0
...                 ...          ...          ...              ...
VERONICA BURTON    2022            4            8                0
VICTORIA MACAULAY  2019            2            3                0
VICTORIA VIVIANS   6063           37           83               14
YVONNE ANDERSON    2022            4            8                1
YVONNE TURNER      4041           27           65                6

                   between_5_9_fga  between_10_14_fgm  between_10_14_fga  \
Player
A'JA WILSON                    342                 98                299
AALIYAH WILSON                   0                  2                  6
AARI MCDONALD                   20                  4                 25
AERIAL POWERS                   97                 32                 88
AISHA SHEPPARD                   2                  0                  0
...                            ...                ...                ...
VERONICA BURTON                  5                  2                  3
VICTORIA MACAULAY                1                  0                  0
VICTORIA VIVIANS                35                 17                 36
YVONNE ANDERSON                  3                  2                  3
YVONNE TURNER                   18                  1                  4

                   between_15_19_fgm  between_15_19_fga  between_20_24_fgm  \
Player
A'JA WILSON                       83                209                 18
AALIYAH WILSON                     2                  8                  0
AARI MCDONALD                      8                 27                 48
AERIAL POWERS                     51                139                 64
AISHA SHEPPARD                     1                  1                  3
...                              ...                ...                ...
VERONICA BURTON                    0                  2                  2
VICTORIA MACAULAY                  0                  1                  0
VICTORIA VIVIANS                  37                 95                 34
YVONNE ANDERSON                    1                  1                  4
YVONNE TURNER                      4                 17                 22

                   between_20_24_fga  over_24_fgm  over_24_fga    ftm    fta
Player
A'JA WILSON                       43            7           19  215.8  265.2
AALIYAH WILSON                     2            1            5    0.8    2.4
AARI MCDONALD                    136           14           52   68.0   76.6
AERIAL POWERS                    170           26           87  181.2  221.8
AISHA SHEPPARD                    16            5           11    6.0    8.0
...                              ...          ...          ...    ...    ...
VERONICA BURTON                    9            1           10   15.0   15.0
VICTORIA MACAULAY                  0            0            0    3.2    3.2
VICTORIA VIVIANS                 145           37          116   50.0   63.4
YVONNE ANDERSON                    7            0            3    7.0    7.0
YVONNE TURNER                     73            7           22   19.0   22.6

[261 rows x 15 columns]

In [7]:
display(df_new.columns[3])

'between_5_9_fgm'

In [8]:
#make column percentages
df_new["under_5_%"] = df_new["under_5_fgm"] / df_new["under_5_fga"]
df_new["5_9_%"] = df_new["between_5_9_fgm"] / df_new["between_5_9_fga"]
df_new["10_14_%"] = df_new["between_10_14_fgm"] / df_new["between_10_14_fga"]
df_new["15_19_%"] = df_new["between_15_19_fgm"] / df_new["between_15_19_fga"]
df_new["20_24_%"] = df_new["between_20_24_fgm"] / df_new["between_20_24_fga"]
df_new["over_24_%"] = df_new["over_24_fgm"] / df_new["over_24_fga"]
df_new["ft%"] = df_new["ftm"] / df_new["fta"]

In [9]:
cols = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
df_final = df_new.drop(df_new.columns[cols], axis=1)
display(df_final)

,under_5_%,5_9_%,10_14_%,15_19_%,20_24_%,over_24_%,ft%
Player,,,,,,,
A'JA WILSON,0.638258,0.391813,0.327759,0.397129,0.418605,0.368421,0.813725
AALIYAH WILSON,0.200000,NaN,0.333333,0.250000,0.000000,0.200000,0.333333
AARI MCDONALD,0.554348,0.500000,0.160000,0.296296,0.352941,0.269231,0.887728
AERIAL POWERS,0.624204,0.319588,0.363636,0.366906,0.376471,0.298851,0.816952
AISHA SHEPPARD,0.000000,0.000000,NaN,1.000000,0.187500,0.454545,0.750000
...,...,...,...,...,...,...,...
VERONICA BURTON,0.500000,0.000000,0.666667,0.000000,0.222222,0.100000,1.000000
VICTORIA MACAULAY,0.666667,0.000000,NaN,0.000000,NaN,NaN,1.000000
VICTORIA VIVIANS,0.445783,0.400000,0.472222,0.389474,0.234483,0.318966,0.788644
YVONNE ANDERSON,0.500000,0.333333,0.666667,1.000000,0.571429,0.000000,1.000000
YVONNE TURNER,0.415385,0.333333,0.250000,0.235294,0.301370,0.318182,0.840708

In [10]:
#replace nans of each column with 0s
df_final = df_final.fillna(0)

In [11]:
#replace column 0s and 1s with default values
df_final.loc[df_final["under_5_%"] == 0, "under_5_%"] = .2
df_final.loc[df_final["under_5_%"] == 1, "under_5_%"] = .7

df_final.loc[df_final["5_9_%"] == 0, "5_9_%"] = .2
df_final.loc[df_final["5_9_%"] == 1, "5_9_%"] = .7

df_final.loc[df_final["10_14_%"] == 0, "10_14_%"] = .2
df_final.loc[df_final["10_14_%"] == 1, "10_14_%"] = .7

df_final.loc[df_final["15_19_%"] == 0, "15_19_%"] = .2
df_final.loc[df_final["15_19_%"] == 1, "15_19_%"] = .7

df_final.loc[df_final["20_24_%"] == 0, "20_24_%"] = .2
df_final.loc[df_final["20_24_%"] == 1, "20_24_%"] = .7

df_final.loc[df_final["over_24_%"] == 0, "over_24_%"] = .2
df_final.loc[df_final["over_24_%"] == 1, "over_24_%"] = .7

df_final.loc[df_final["ft%"] == 0, "ft%"] = .6
df_final.loc[df_final["ft%"] == 1, "ft%"] = .95

In [12]:
display (df_final)

,under_5_%,5_9_%,10_14_%,15_19_%,20_24_%,over_24_%,ft%
Player,,,,,,,
A'JA WILSON,0.638258,0.391813,0.327759,0.397129,0.418605,0.368421,0.813725
AALIYAH WILSON,0.200000,0.200000,0.333333,0.250000,0.200000,0.200000,0.333333
AARI MCDONALD,0.554348,0.500000,0.160000,0.296296,0.352941,0.269231,0.887728
AERIAL POWERS,0.624204,0.319588,0.363636,0.366906,0.376471,0.298851,0.816952
AISHA SHEPPARD,0.200000,0.200000,0.200000,0.700000,0.187500,0.454545,0.750000
...,...,...,...,...,...,...,...
VERONICA BURTON,0.500000,0.200000,0.666667,0.200000,0.222222,0.100000,0.950000
VICTORIA MACAULAY,0.666667,0.200000,0.200000,0.200000,0.200000,0.200000,0.950000
VICTORIA VIVIANS,0.445783,0.400000,0.472222,0.389474,0.234483,0.318966,0.788644
YVONNE ANDERSON,0.500000,0.333333,0.666667,0.700000,0.571429,0.200000,0.950000
YVONNE TURNER,0.415385,0.333333,0.250000,0.235294,0.301370,0.318182,0.840708

In [15]:
#export excel sheet
df_final.to_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/shot_final.xlsx")