In [8]:
import pandas as pd
import numpy as np

In [2]:
#this dataframe has the xPF and xPA for each player for each game
df = pd.read_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/2022_xP_player.xlsx")
#convert df["xPA"] to positive number
df["xPA"] = -df["xPA"]

#this df has the player ID, team, and number of mins played
df_players = pd.read_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/2022_players.xlsx")

#this dataframe has the xPF/40 and xPA/40 for each team
df_team = pd.read_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/2022_Team_xP_summary.xlsx")

df_team

,Team,PF_team,PA_team,xPF_team,xPA_team,Minutes_team,P%_team,xP%_team,xPF/40_team,xPA/40_team
0,ATL,2826,2934,2650.2270,2812.8330,1450,49.062500,48.511768,73.109710,77.595393
1,CHI,3105,2925,2917.7130,2756.3100,1455,51.492537,51.422298,80.212041,75.774845
2,CON,3088,2799,2763.4150,2677.5080,1450,52.454561,50.789452,76.232138,73.862290
3,DAL,2986,2979,2689.7670,2740.7700,1445,50.058676,49.530406,74.457218,75.869066
4,IND,2807,3206,2568.8100,2884.8600,1450,46.682189,47.102410,70.863724,79.582345
5,LAS,2860,3116,2679.8170,2748.1600,1445,47.858099,49.370456,74.181785,76.073633
6,LVA,3256,3027,2999.0527,2784.4010,1445,51.822378,51.855740,83.018760,77.076844
7,MIN,2968,3021,2769.6770,2809.1627,1450,49.557522,49.646112,76.404883,77.494143
8,NYL,2866,2952,2697.7620,2873.5200,1455,49.260914,48.422643,74.165278,78.997113
9,PHO,2920,3028,2755.0780,2788.7780,1455,49.092132,49.696060,75.740976,76.667436
10,SEA,2970,2822,2794.7700,2645.0750,1445,51.277624,51.375912,77.363875,73.220069
11,WAS,2888,2731,2773.2260,2537.9370,1455,51.397046,52.215042,76.239890,69.771464

In [3]:
"""this first merges the first and second dfs loaded into this script"""

#groups by each player and sums columns
#group each players games together while adding up the xPF and xPA
df_new = df.groupby(df["pid"]).sum()
#drop Game column
df_new = df_new.drop(["Game", "xP%"], axis=1)

#Calculate new xP% metric based on total xPF and xPA
df_new["xP%"] = (df_new["xPF"]) / (df_new["xPF"] + df_new["xPA"]) *100
#df_new
merged_df = pd.merge(df_new, df_players, how="left", on="pid")
merged_df["xPF/40"] = merged_df["xPF"]/ merged_df["min"] *40
merged_df["xPA/40"] = merged_df["xPA"]/ merged_df["min"] *40
merged_df

,pid,xPF,xPA,xP%,Player,Team,min,xPF/40,xPA/40
0,100720,1636.471482,1505.338681,52.086899,SUE BIRD,SEA,818.0,80.023055,73.610693
1,100940,1839.478194,1843.785418,49.941530,DIANA TAURASI,PHO,962.0,76.485580,76.664674
2,201480,1591.356994,1595.078264,49.941608,SYLVIA FOWLES,MIN,831.0,76.599615,76.778737
3,201496,1827.914498,1660.041649,52.406464,CANDACE PARKER,CHI,903.0,80.970742,73.534514
4,201516,1841.796178,1691.625236,52.125008,ALLIE QUIGLEY,CHI,895.0,82.314913,75.603363
...,...,...,...,...,...,...,...,...,...
161,1631089,1049.857025,1200.199468,46.659141,DESTANNI HENDERSON,IND,589.0,71.297591,81.507604
162,1631091,383.602516,388.920328,49.655815,EVINA WESTBROOK,WAS,205.0,74.849271,75.886893
163,1631135,791.143344,846.740459,48.302776,OLIVIA NELSON-ODODA,LAS,436.0,72.581958,77.682611
164,1631147,224.966662,235.318350,48.875513,KIANNA SMITH,LAS,113.0,79.634217,83.298531
165,1631263,685.586228,724.104603,48.633801,NIKOLINA MILIC,MIN,364.0,75.339146,79.571934

In [5]:
#merge the player dataframe with new xPF/40 and xPA/40 to their team xPF/40 and xPA/40 metrics in 'df_team'
final_df = pd.merge(merged_df, df_team, how = "left", on = "Team" )


#drop miscellaneous columns
final_df = final_df.drop(["PF_team", "PA_team", "xPF_team", "xPA_team", "P%_team"], axis=1)
#final_df

#Calculate relative xPF/40 and xPA/40
final_df["xPF/40_Rel"] = final_df["xPF/40"] - final_df["xPF/40_team"]
final_df["xPA/40_Rel"] = final_df["xPA/40"] - final_df["xPA/40_team"]
final_df["xP%_Rel"] = final_df["xP%"] - final_df["xP%_team"]
final_df

,pid,xPF,xPA,xP%,Player,Team,min,xPF/40,xPA/40,Minutes_team,xP%_team,xPF/40_team,xPA/40_team,xPF/40_Rel,xPA/40_Rel,xP%_Rel
0,100720,1636.471482,1505.338681,52.086899,SUE BIRD,SEA,818.0,80.023055,73.610693,1445.0,51.375912,77.363875,73.220069,2.659180,0.390624,0.710986
1,100940,1839.478194,1843.785418,49.941530,DIANA TAURASI,PHO,962.0,76.485580,76.664674,1455.0,49.696060,75.740976,76.667436,0.744604,-0.002762,0.245470
2,201480,1591.356994,1595.078264,49.941608,SYLVIA FOWLES,MIN,831.0,76.599615,76.778737,1450.0,49.646112,76.404883,77.494143,0.194732,-0.715406,0.295496
3,201496,1827.914498,1660.041649,52.406464,CANDACE PARKER,CHI,903.0,80.970742,73.534514,1455.0,51.422298,80.212041,75.774845,0.758701,-2.240332,0.984167
4,201516,1841.796178,1691.625236,52.125008,ALLIE QUIGLEY,CHI,895.0,82.314913,75.603363,1455.0,51.422298,80.212041,75.774845,2.102872,-0.171483,0.702710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,1631089,1049.857025,1200.199468,46.659141,DESTANNI HENDERSON,IND,589.0,71.297591,81.507604,1450.0,47.102410,70.863724,79.582345,0.433867,1.925259,-0.443269
162,1631091,383.602516,388.920328,49.655815,EVINA WESTBROOK,WAS,205.0,74.849271,75.886893,1455.0,52.215042,76.239890,69.771464,-1.390619,6.115429,-2.559227
163,1631135,791.143344,846.740459,48.302776,OLIVIA NELSON-ODODA,LAS,436.0,72.581958,77.682611,1445.0,49.370456,74.181785,76.073633,-1.599827,1.608978,-1.067680
164,1631147,224.966662,235.318350,48.875513,KIANNA SMITH,LAS,113.0,79.634217,83.298531,1445.0,49.370456,74.181785,76.073633,5.452431,7.224898,-0.494943
165,1631263,685.586228,724.104603,48.633801,NIKOLINA MILIC,MIN,364.0,75.339146,79.571934,1450.0,49.646112,76.404883,77.494143,-1.065737,2.077791,-1.012311

In [6]:
#output df_new to folder
final_df.to_excel("/Users/lb/Desktop/analytics/w_analytics/new_dtwom_22/2022_PLAYER_xP_FINAL.xlsx")